{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'material.min.css' %}">
    <script defer src="{% static 'material.min.css' %}"></script>

    <style>
        .mdl-layout__header {
            background-color: white;
            color: #757575;
        }

        .mdl-layout__header .mdl-navigation__link {
            color: #757575;
            font-weight: 700;
            font-size: 14px;
        }

        .material-icons {
            color: #757575;
        }

        .background-cinza {
            background: #eee;
            min-height: 50px;
        }
    </style>

    {% block style %}

    {% endblock style %}

    <title>Gestor Clientes</title>
</head>

<body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Gestor Clientes</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="{% url 'core:index' %}">Início</a>
                    <a class="mdl-navigation__link" href="{% url 'clientes:clientes' %}">Clientes</a>
                    <a class="mdl-navigation__link" href="{% url 'clientes:documentos' %}">Documentos</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Menu</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{% url 'core:index' %}">Início</a>
                <a class="mdl-navigation__link" href="{% url 'clientes:clientes' %}">Clientes</a>
                <a class="mdl-navigation__link" href="">Documentos</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                {% block page-content %}

                {% endblock page-content %}
            </div>
        </main>
        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">Title</div>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Privacy & Terms</a></li>
                </ul>
            </div>
        </footer>
    </div>

    <script defer src="{% static 'material.min.js' %}"></script>
</body>

</html>